.row {
    width: fit-content;
    display: block;
    margin: 0 auto;
    text-align: center;
}

.heading {
    background-image: url("https://images.pexels.com/photos/1486579/pexels-photo-1486579.jpeg?auto=compress&cs=tinysrgb&h=650&w=940");
    background-position: center;
    width: 400px;
    height: fit-content;
    padding: 10px;
    color: white;
}

.form-group {
    margin: 20px 0px 0px 0px;
    padding: 0px;
    border: 1px solid lightgray;
    width: 300px;
}

.form-element {
    margin: 10px 0px;
    padding: 5px 0px;
    display: inline;
    border: none;
    resize: none;
}

.btn {
    margin: 20px 0px 0px 0px;
    padding: 10px 30px;
    background-color: blueviolet;
    border: none;
    border-radius: 50px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
}