.row {
    width: fit-content;
    display: block;
    margin: 0 auto;
    text-align: center;
}

.card {
    height: fit-content;
    width: fit-content;
    border: 1px grey solid;
    padding: 1px;
    margin: 5px;
    display: inline-block;
}

.img {
    max-height: 315px;
    max-width: 215px;
}

.container {
    margin: 1px;
    background-color: lightgrey;
}

.card-caption {
    text-align: center;
    margin: 0px;
    padding: 2px;
}